@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Projeto com intuito de desenvolver, ações resolutivas, de forma independente. <br>
    Com intuito de pro-atividade, com utilização de consultas e pesquisas de artigos.</p>