@{
    ViewBag.Title = "Projeto Modelo DDD";
}

<div class="jumbotron">
    <h1>Projeto Modelo DDD</h1>
    <p class="lead">Projeto com intuito de treinamento resolutivo.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>
            View de Clientes.
        </p>
        <p>
            <a class="btn btn-default" href="http://localhost:5000/Clientes">Clientes &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Produtos</h2>
        <p>View de Produtos.</p>
        <p>
            <a class="btn btn-default" href="http://localhost:5000/Produtos">Produtos &raquo;</a>
        </p>
    </div>
</div>